<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dbd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/dbd_theme1">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/dbd_theme1">
            <!--le launchMode pour revenir directement à l'appli si l'utilisateur la quitte, ne lance pas une nouvelle instance -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ListeTueurs" />
        <activity android:name=".ListeSurvivants" />
        <activity android:name=".LeSurvivant" />
        <activity android:name=".LeTueur"></activity>

    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--même quand le tel se met en veille on peut laisser la musique-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- permet l'accès à Internet donc à l'accès BDD externe -->

</manifest>